@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
*{
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding:0;
  font-family: 'IBM Plex Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #191919;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  width: 100%;
  background-color: #111111;
  padding: 12px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.copy-link {
  background-color: #2160FD;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}
/* .left{
  background-color: #191919;
  width:50%;
  margin:150px;
  padding:0px;
  color:white;
  overflow: hidden;
}
.left h2{
  padding-bottom:35px ;
}
.right{
  background-color: #191919;
  width:50%;
  height:100%;
  margin:0;
  padding:150px;
  color:white
}

.homeimg{
  width:550px;
  height:350px;
} */

.tabs {
  display: flex;
  background-color:#111111;
}

.tabs div {
  padding: 16px 20px;
  margin: 0px;
  font-style: italic;
  color: white;
  cursor: pointer;
}

.active {
  background-color:#263238;
}

.editor {
  overflow-y: hidden;
  width: 100%;
  height: 50vh;
}

.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  height: 100% !important;
}

.editor .CodeMirror-vscrollbar,
.editor .CodeMirror-hscrollbar {
  display: none !important;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: white;
  background-color: #191919;
}

.live-editor{
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.live-editor::-webkit-scrollbar {
  display: none;
}
